@import url(./variables.css);
body{
    background-color: var(--light-green);
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
/* Nav Bar */
nav{
    background-color: var(--white-color);
    font-family: var(--secondary-font);
    text-transform: uppercase;
    color: var(--nav-dark-blue);
    font-weight: var(--nav-fw);
    box-shadow: 0 0 30px rgba(0, 0, 0, .08);
    font-size: var(--nav--font-size);
}
.navbar-brand{
    font-size: var(--nav--font-size);
    color: var(--main-color);
    font-family: var(--main-font);
    font-weight: var(--fw-xl);
    font-size: 40px;
    text-transform: capitalize;
}
.navbar-brand:hover{
    color: var(--main-color);
}
.nav-link:hover{
    color: var(--main-color);
}
.navbar .nav-link.active {
    color: var(--main-color);
}
nav .dropdown-menu{
    text-transform: capitalize;
}
nav .dropdown:hover .dropdown-menu {
    display: inline-block; 
}
/* Section 1 */
.btn{
    background-color: var(--main-color);
    color: var(--white-color);
    padding: 6px 16px;
    border: none;
    font-family: var(--secondary-font);
}
.btn:hover{
    background-color: var(--main-color-hover);
    color: var(--white-color);
}
/* Search and filter section  */
.search .row{
    padding: 35px;
    background-color: var(--main-color);
}
.search button{
    background-color: var(--dark-blue);
}
.search button:hover{
    background-color: var(--dark-blue-hover);
}
/* Categories */
.category-a{
    text-decoration: none;
}
.category-heading{
    color: var(--dark-blue);
    font-family: var(--main-font);
    font-weight: 700;
}
.cat-item .category-span{
    font-size: 16px !important; 
    font-family: var(--secondary-font); 
    text-decoration: none;
}
.category-card-container .category-border{
    border-color: var(--border-green);
    border-style: dashed;
    padding: 8px;
}
.outer-border{
    padding: 16px;
    border-radius: 5px;
    background-color: var(--light-green);
}

.row h1{
    margin: 48px 0px 24px 0px !important;
    color: var(--dark-blue) !important;
    font-family: var(--main-font)!important;
    font-weight: var(--fw-xl)!important;
    font-size:var(--font-size)!important;

}
.row span{
    color: var(--main-color) !important;
    font-size:var(--font-size)!important;
}
.row p{
    color: var(--gray-color) !important;
    font-size: var(--header-font-size) !important;
    margin: 0px 0px 24px !important;
    padding: 0px 0px 8px !important;
}
.property-types{
    padding-left: 25%;
    padding-right: 25%;
}
.property-types h1{
    text-align: center;
    font-size: 40px;
    font-family: var(--main-font);
    font-weight: 700;
}
.property-types p{
    text-align: center;
}

/* Section 4 */
.check{
    color: var(--main-color);
}
/* Property Listing */
.property-listing h1{
    color: var(--dark-blue)!important; 
    font-weight: 700!important; 
    font-family: var(--main-font) !important;
}
.property-listing span{
    color: var(--grey-color);
}
.btn-outline{
    background-color: white;
    border: solid var(--main-color);
    color: black;
    margin: 5px;
    border-radius: 5px !important;
}
.btn-outline.active{
    background-color: var(--main-color);
    color: white;
}
.btn-outline:hover{
    background-color: var(--main-color);
    color: white;
}
.card-price{
    color: var(--main-color);
    font-weight: 700; 
    font-style: var(--main-font); 
    font-size: 22px;
}
.card-title{
    font-weight: 700; 
    font-family: var(--main-font);
}
.card-title:hover{
    color:var(--main-color);
}
.fa-location-dot{
    color: var(--main-color);
}
.card-body .address{
    font-size: 16px !important; 
    color: var(--grey-color) !important;
}
.fa-ruler-combined{
    color: var(--main-color);
}
.card-footer span{
    font-size: 16px !important; 
    color: var(--grey-color) !important;
}

/* Contact */
.back{
    background-color: var(--light-green);
    border-radius: 5px;
}
.contact-white-background{
    border: dashed 1px var(--main-color); 
    border-radius: 5px;
}
.get-appointment{
    background-color: var(--dark-blue);
}
.get-appointment:hover{
    background-color: var(--dark-blue-hover);
}
/* Property Agents */
.agents-container{
    text-align: center; 
    margin-top: 80px; 
    padding-left: 25%; 
    padding-right: 25%;
}
.agents-container h1{
    color: var(--dark-blue);
    font-weight: 700;
    font-family: var(--main-font);
}
.agents-container p{
    color: var(--grey-color);
}
.agent-cards-container .card{
    border: none;
    box-shadow: 0 0 30px rgba(0, 0, 0, .08);
}
.agent-cards-container h5{
    font-size: 20px; 
    font-weight: 700; 
    font-family: var(--main-font); 
    color: var(--dark-blue);
}
.agent-cards-container p{
    font-size: 14px; 
    color: var(--grey-color)!important;
}
/* reviews */
.reviews-container{
    text-align: center; 
    margin-top: 80px; 
    padding-left: 25%; 
    padding-right: 25%;
}
.reviews-container h1{
    color: var(--dark-blue);
    font-weight: 700;
    font-family: var(--main-font);
}
.reviews-container p{
    color: var(--grey-color);
}
/* Footer */
.footer{
    color: white; 
    background-color: var(--dark-blue) !important; 
}
.footer h5{
    font-size: 20px ; 
    font-weight: 700; 
    font-family: var(--main-font);
}
.footer .footer-text{
    color: var(--light-grey)!important;
}
.footer i{
    color: var(--light-grey);
}
.btn-social{
    background-color: var(--dark-blue);
    border: 0.8px solid white;
    border-radius: 50%;
    margin: 3px;
    padding: 5px 10px 5px 10px;
}
.btn-social:hover{
    background-color: white;
}
.btn-social i:hover{
    color: var(--main-color);
}